{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 1,
    "no-unused-vars": 2,
    "prettier/prettier": [
      2,
      {
        "endOfLine": "auto"
      }
    ],
    "react-hooks/exhaustive-deps": 2,
    "@typescript-eslint/no-empty-function": 0
  },
  "ignorePatterns": ["**/*.stories*"]
}
